footer{
    height: 400px;
    background-color: #EFEFEF;
    position: relative;
    // z-index: -10;

    text-align: center;

    article{
        display: inline-block;
        flex-direction: column;
    }
 

}





